.venv/
.local/
.ruff_cache/
.pytest_cache/
__pycache__/
*.egg-info/
build/
dist/
/docs-quarto/
/docs/_build/
/batch.log
notebooks/*.ipynb
orpen_sc_pdk/cells/privates/*
!orpen_sc_pdk/cells/privates/.gitkeep
